.card_container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    max-width: 85%;
    margin-top: 17px;

}
.all_products{
    flex-basis: 100%;
    display: flex;
    justify-content: stretch;
    gap: 20px;
    flex-wrap: wrap;
}
app-category{
   /* color: blue; */
}
@media only screen and (max-width: 378px) {
    .card_container{
        display: flex;
        justify-content: space-around;
        gap: 10px;
        max-width: 100%;
        margin-top: 17px;
    
    }
}