.card{
    width: 220px;
    height: 320px;
    background: rgb(238, 235, 235);
    border-radius: 5px;

}

.card .prod-img img{
    width: 100%;
    height: 200px;
    
}
.info{
    padding: 10px;
    font-size: .9em;
}
.info p{
    margin-bottom: 8px;
}